/* START HERO */

.user-readings-container {
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 10px;
}

.user-readings-header {
    text-align: left;
    margin-bottom: 10px;
}

.user-readings-title {
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.sensor-readings-container {
    background-image: url('product-6-min.jpg');
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(6, 18, 56, 0.753);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 20px;
}

.sensor-readings-header {
    text-align: center;
    margin-bottom: 20px;
}

.sensor-readings-title {
    color: white;
    font-size: 36px;
    font-weight: bold;
}

.sensor-readings-subtitle {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.sensor-readings-body {
    color: rgb(241, 247, 160);
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center;
}

.sensor-readings-footer {
    text-align: center;
}

.sensor-readings-text {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
}


/* END HERO */